/*TEXTO GARGANDO*/
.loadingText {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50;
  left: 25.5%;
  background-color: #333;
  padding: 180px;
  border-radius: 8px;
  color: #fff;
}
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  overflow-x: hidden;
  background-color: #3b3b3b;
}
/*------CABECERA-------*/
/* Footer */
footer {
  display: flex;
  place-content: center;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -5rem;
  left: 0;
  z-index: 10;
}
.contentFotter {
  width:72%;
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: var(--bx-sh-1);
  padding: 20px 0px;
  border-radius: 6px;
}

/*ESTILO DEL MENU*/
nav {

  position: sticky;
  top: 0px;
  right: 14%;
  left: 14%;
  min-height: 60px;
  display: grid;
  grid-auto-flow: 2;
  grid-auto-columns: 1 / span 2;
  padding: 14px 4px;
  z-index: 10;
  width: 1366px;
}

nav .menu {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  list-style-type: none;
  margin: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: var(--bx-sh-1);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  overflow: hidden;
}


nav .menu li {
  list-style: none;
  padding: 14px 20px;
}

nav .menu > li:nth-child(1) {
  list-style: none;
  font-size: 40px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul li .submenu ul {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

nav ul li .submenu li a {
  list-style: none;
  color: white;
  font-weight: bold;
}

nav ul li .submenu li a:hover {
  color: #1BBC9C;
} 

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 32px 22px;
  transition-duration: 0.3s;
  transition-property: background, border;
}
nav a:hover {
  color: #1BBC9C;
}

nav a:active {
  color: #1BBC9C;
}

/*CONTENEDOR PRICIPAL DEL CUERPO*/
div.row {
  background-color: #3b3b3b;
  display: grid;
  height: auto;
  grid-template-columns: 4fr;
  gap: 16px;
  place-content: center;
  justify-items: center;
}
/*BARRA LATERAL*/
aside {
  width: 94%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: var(--bx-sh-1);
  backdrop-filter: blur(5px);
  min-height: 62dvh;
  margin: 26px 0px;
  border-radius: 12px;
}
/*CONTENEDOR PRINCIPAL*/
.content {
  width: 100%;
  max-width: 1366px;
  background-color: #3b3b3b;
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-content: center;
  align-items: flex-start;
  position: relative;
  grid-column-gap: 1rem;
  justify-items: center;
}
/*BUSCADOR BARRA LATERAL*/
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #ddd;
  padding: 0px 10px;
}
/*CAMPO DE BUSQUEDA BARRA LATERAL*/
form {
  flex: 80%;
}
.search input[type="text"] {
  width: 60%;
}
.search input[type="submit"] {
  width: 30%;
  padding: 9px;
  border-radius: 6px;
  margin-left: 8px;
  outline: none;
  border-style: solid;
  border-color: #333;
  background: #333333;
  color: white;
  cursor: pointer;
  flex: 20%;
  transition-duration: 0.3s;
  transition-property: background, border;
}

.search input[type="submit"]:hover {
  background: #1abc9c;
  border-color: #1abc9c;
  color: white;
  transition-duration: 0.3s;
  transition-property: background, border, color;
}
.searchNav {
  width: 18em;
  display: block;
}

.searchNav input[type="text"] {
  width: 60%;
  padding: 9px;
  border-radius: 16px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  outline: none;
  font-weight: bold;
}
.searchNav input::placeholder {
  font-weight: bold;
  opacity: 1;
  color: #fff;
}

.searchNav button {
  width: 30%;
  padding: 9px;
  font-size: 18px;
  border-radius: 25px;
  margin-left: 6px;
  outline: none;
  border-style: solid;
  border-color: #1abc9c;
  background: #1abc9c;
  color: white;
  cursor: pointer;
  flex: 20%;
  transition-duration: 0.3s;
  transition-property: background, border;
}
.searchNav button:hover {
  background-color: #3B3B3B;
  border-color: #3B3B3B;
}


/*LABELS DE FORMULARIO*/
label {
  line-height: 3em;
  font-weight: bold;
}
/*CAMPOS PARA AGREGAR ALTICULOS*/
.form-group input,
.form-group textarea {
  padding: 9px;
  border-radius: 6px;
  outline: none;
  border-color: #333333;
  border-style: solid;
  width: 100%;
  border-width: 2px;
  outline: none;
}
.form-group input[type="file"] {
  border-color: #8d8d8d7a;
  padding: 1.5em 10px;
}

textarea {
  margin-top: 10px;
  max-height: 85px;
  width: 100%;
  resize: vertical;
  outline: none;
}
/*BOTON ENVIAR*/
.form-group input[type="submit"] {
  margin-top: 2em;
  border-color: #8d8d8d7a;
  padding: 1.5em 10px;
  width: 105%;
  font-weight: bold;
}
.form-group input[type="submit"]:hover {
  background: #1abc9c;
  border-color: #1abc9c;
  color: white;
  transition-duration: 0.3s;
  transition-property: background, border, color;
}
/*EFECTO AL HACER CLIC AL LOS CAMPOS*/
input[type="text"]:focus,
textarea:focus {
  border-color: #1abc9c;
}

/*BOTON AGREGAR ARTICULO*/
.search input {
  padding: 9px;
  border-radius: 6px;
  outline: none;
  border-color: #333333;
  border-style: solid;
  width: 100%;
  border-width: 2px;
  outline: none;
  transition-duration: 0.3s;
  transition-property: background, border;
}
.search button {
  padding: 9px;
  border-radius: 6px;
  margin-left: 8px;
  outline: none;
  border-style: solid;
  border-color: #333;
  background: #333333;
  color: white;
  cursor: pointer;
  flex: 20%;
  transition-duration: 0.3s;
  transition-property: background, border;
}
/*EFECTO HOVER DEL BOTON*/

.search button:hover {
  background: #1abc9c;
  border-color: #1abc9c;
}
/*CONTENEDOR DE BUSCADOR*/
.add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.add [type="submit"] {
  padding: 9px;
  border-radius: 6px;
  outline: none;
  border-style: solid;
  border-color: #333;
  background: #333333;
  color: white;
  cursor: pointer;
  width: 105%;
  margin-top: 10px;
  transition-duration: 0.3s;
  transition-property: background, border;
}
.add [type="submit"]:hover {
  background: #1abc9c;
  border-color: #1abc9c;
}
/*CONTENEDOR DE BIENVENIDA*/
div.card {
  width: 775px;
  height: auto;
  min-height: 550px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: var(--bx-sh-1);
  padding: 25px 10px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: 2 / 2/ 2 / 2;
}
div.card > .button {
  position: absolute;
  top: 3rem;
  right: 24rem;
  color: #fff;
  text-decoration: none;
}
/*IMAGEN DEL CONTENEDOR*/
.card .imgContent {
  overflow: hidden;
  width: auto;
  height: 250px;
  margin-right: 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .imgContent {
  font-size: 220px;
  color: #fff;
}

/*TEXTOS DEL CONTENEDOR*/
.card .texContentHome {
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  width: 90%;
  height: auto;
  margin-right: 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

/*TITULO DEL CONTENEDOR*/
.card h3 {
  line-height: inherit;
  color: white;
  font-size: 42px;
}
/*PARRAFO DEL CONTENEDOR*/
.card p {
  font-size: 14px;
  font-style: normal;
  line-height: 1.1;
}

/*BOTON DEL CONTENEDOR*/
.card .texContentHome a {
  padding: 9px;
  border-radius: 6px;
  margin-top: 16px;
  outline: none;
  border-style: solid;
  border-color: #333;
  background: #333333;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background, border;
}

/*EFECTO HOVER PARA EL BOTON DEL CONTENEDOR*/
.card .texContentHome a:hover {
  background: #1abc9c;
  border-color: #1abc9c;
}

.contentListArticle {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-content: center;
  align-items: flex-start;
  position: relative;
  grid-column-gap: 1rem;
}
/*TARJETAS DEL LOS ARITCULOS*/
div.cardArticle {
  width: 100%;
  height: 150px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: var(--bx-sh-1);
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0px #aaa;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  margin: 10px 0;
}
/*-----BENTO GRID DEL BLOG-----*/
div.cardArticle:first-child {
  grid-area: 1 / 2 / 3 / 2;
  background-color: #cdb4db;
  height: 34.3em;
}
div.cardArticle:nth-child(n + 2) {
  background-color: #cdb4db;
  height: 16.5em;
}

/*-----SESION DEL BLOG-----*/
/*CAJA DE BOTON*/
.backtohome {
  margin-top: 20px;
}
/*BOTON DEL IR AL INICIO*/
.backtohome a {
  padding: 9px;
  border-radius: 6px;
  outline: none;
  border-style: solid;
  border-color: #333;
  background: #333333;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background, border;
}
/*EFECTO HOVER PARA EL BOTON DEL IR AL INICIO*/
.backtohome a:hover {
  background: #1abc9c;
  border-color: #1abc9c;
}

/*MARCO DE LA IMAGEN*/
.cardArticle .imageContentArticle {
  max-width: 100%;
  max-height: inherit;
  background-color: #aaa;
  overflow: hidden;
  width: inherit;
  height: inherit;
  z-index: 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.cardArticle .imageContentArticle img {
  width: 250%;
  height: inherit;
}

/* IMAGEN DESTACADA DENTRO DEL ARTICULO*/
.card .imageContentSingleArticle img {
  width: 300px;
  height: auto;
  margin-right: 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGEN DESTACADA DENTRO DEL ARTICULO*/
.form-group .imageContentSingleArticle img {
  width: 150px;
  height: auto;
  margin-right: 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CONTENEDOR DE LOS TEXTOS DEL ARTICULO*/
.cardArticle .texContentArticle {
  max-width: 100%;
  max-height: 150px;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  position: relative;
  padding: 20px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: var(--bx-sh-1);
  backdrop-filter: blur(5px);
}
/*TITULO DEL ARITUCLO*/
.cardArticle h3 {
  line-height: normal;
  color: #fff;
  font-size: 22px;
  margin: initial;
}
/*PARRAFO DEL ARITUCLO*/
.cardArticle p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.1;
  margin-top: 0.5;
}
/*BOTONES DE ARTICULOS*/
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}
.buttons button {
  border-radius: 8px;
  outline: none;
  transition-duration: 0.3s;
  font-size: 14px;
  font-style: normal;
  transition-property: background, border;
}
.buttons button:hover {
  color: #fff;
  background: #bc1a1a;
  border-color: #bc1a1a;
}

/*BOTON DEL ARITUCLO*/
.cardArticle .texContentArticle a {
  padding: 9px;
  border-radius: 6px;
  outline: none;
  border-style: solid;
  border-color:  #1abc9c;
  background:  #1abc9c;
  
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background, border;
}
/*EFECTO HOVER PARA EL BOTON DEL ARITUCLO*/
.cardArticle .texContentArticle a:hover {
  background: transparent;
  border-color: #fff;
}

/*PANELES PRINCIPALES RESPONSIVO*/
@media screen and (max-width: 700px) {
  .content {
    flex-direction: column;
    width: 100%;
  }
  div.row {
    grid-template-columns: auto;
  }
  .side {
    display: none;
  }
  .content {
    display: grid;
    grid-template-columns: auto;
    width: 90%;
  }
  .searchNav {
    width: 18em;
    display: grid;
  }
  nav ul {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto;
  }

  div.card {
    width: 330px;
    height: auto;
    min-height: 550px;
    background: linear-gradient(
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    padding: 25px 10px;
    border-radius: 6px;
    box-shadow: var(--bx-sh-1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    grid-area: 1 / 1/ 2 / 2;
  }
  .card .imgContent {
    font-size: 160px;
    color: #fff;
  }

  div.cardArticle:first-child {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #cdb4db;
    height: 16.5em;
  }

  div.card > .button {
    position: absolute;
    top: 2rem;
    right: 5rem;
    color: #fff;
    text-decoration: none;
  }

  .cardArticle .texContentArticle {
    max-width: 100%;
    max-height: 175px;
  }

  .contentFotter {
    width:98%;}
}

/*Scroll perzonalizado*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #1abc9c;
  border-radius: 8px;

  background-image: -webkit-gradient(
    linear,
    255 255,
    255 100%,
    color-stop(0.5, rgba(27, 188, 156, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
